{{define "l_footer"}}
	</main>
	<footer>
		<div class="footer-text">&copy;{{.Year}}</div>
		<img src="{{.AppStaticImageLink}}/images/goapi.jpeg" alt="Logo" class="footer-image">
		<div class="footer-text">{{.AppName}}</div>
	</footer>
    </body>
    </html>
{{end}}
