{{define "general/home.gohtml"}}
	{{template "l_header" .}}
	<section class="first">
		<h2>Welcome to the API home page</h2>
		<p>To be continued...</p>
	</section>
	<section class="second">
		<h2>Features</h2>
		<p>To be continued...</p>
	</section>

	{{template "l_footer" .}}
{{end}}
